### План-минимум
- [ ] Посмотреть таблицу снэпшотов 
- [ ] Сделать изменения и потом откатиться к предыдущему снэпшоту
- [ ] Изменить названия колонок
- [ ] Вставить новые данные
- [ ] Изменить партицию
- [ ] Посмотреть таблицу `files`
- [ ] Посмотреть таблицу `history`
- [ ] Посмотреть таблицу `partitions`
- [ ] Сделать аудит прямым способом
- [ ] Сделать аудит с помощью веток

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_format, col

from pathlib import Path

Создадим сессию

In [2]:
spark = SparkSession.builder.appName("Jupyter") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "2") \
    .config("spark.memory.fraction", "0.8") \
    .getOrCreate()

spark

24/11/19 12:59:46 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Создадим базу данных

In [3]:
%%sql

CREATE DATABASE IF NOT EXISTS nyc

++
||
++
++

In [4]:
%%sql

DROP TABLE IF EXISTS nyc.taxis

++
||
++
++

Выгрузим все данные по желтым такси

In [5]:
schema = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2021-04.parquet").schema
schema

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', TimestampNTZType(), True), StructField('tpep_dropoff_datetime', TimestampNTZType(), True), StructField('passenger_count', DoubleType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', DoubleType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True), StructField('airport_fee', DoubleType(), True)])

In [6]:
df = spark.createDataFrame([], schema)
df.writeTo("nyc.taxis").create()

In [7]:
path = Path('/home/iceberg/data')

for file in path.iterdir():
    if file.is_file():
        name = str(file).rsplit('/', 1)[-1]
        if 'yellow' in name:
            df = spark.read.parquet(str(file))
            df.writeTo("nyc.taxis").append()

Проверим, что данные выгрузились за все нужные месяца и года

In [8]:
year_month_fact = []

for file in path.iterdir():
    if file.is_file():
        name = str(file).rsplit('/', 1)[-1]
        if 'yellow' in name:
            year_month_cur = (
                int(name.rsplit('_', 1)[-1].rsplit('.')[0].split('-')[0]), 
                int(name.rsplit('_', 1)[-1].rsplit('.')[0].split('-')[1])
            )
            year_month_fact.append(year_month_cur)

year_month_fact

[(2022, 3),
 (2021, 7),
 (2021, 12),
 (2021, 5),
 (2021, 8),
 (2021, 4),
 (2022, 2),
 (2021, 9),
 (2021, 6),
 (2021, 11),
 (2021, 10),
 (2022, 4),
 (2022, 1)]

In [9]:
df_year_month = spark.sql("""
select year(tpep_pickup_datetime) as year, month(tpep_pickup_datetime) as month
from nyc.taxis
group by year(tpep_pickup_datetime), month(tpep_pickup_datetime)
order by year, month
""")

In [10]:
rows_year_month = df_year_month.select(df_year_month.year, df_year_month.month).collect()

In [11]:
rows_year_month

[Row(year=2002, month=12),
 Row(year=2003, month=1),
 Row(year=2004, month=4),
 Row(year=2008, month=12),
 Row(year=2009, month=1),
 Row(year=2011, month=1),
 Row(year=2011, month=2),
 Row(year=2012, month=2),
 Row(year=2021, month=3),
 Row(year=2021, month=4),
 Row(year=2021, month=5),
 Row(year=2021, month=6),
 Row(year=2021, month=7),
 Row(year=2021, month=8),
 Row(year=2021, month=9),
 Row(year=2021, month=10),
 Row(year=2021, month=11),
 Row(year=2021, month=12),
 Row(year=2022, month=1),
 Row(year=2022, month=2),
 Row(year=2022, month=3),
 Row(year=2022, month=4),
 Row(year=2022, month=5),
 Row(year=2028, month=12),
 Row(year=2029, month=5),
 Row(year=2070, month=8),
 Row(year=2098, month=9)]

In [12]:
year_month_table = [(row.year, row.month) for row in rows_year_month]
year_month_table

[(2002, 12),
 (2003, 1),
 (2004, 4),
 (2008, 12),
 (2009, 1),
 (2011, 1),
 (2011, 2),
 (2012, 2),
 (2021, 3),
 (2021, 4),
 (2021, 5),
 (2021, 6),
 (2021, 7),
 (2021, 8),
 (2021, 9),
 (2021, 10),
 (2021, 11),
 (2021, 12),
 (2022, 1),
 (2022, 2),
 (2022, 3),
 (2022, 4),
 (2022, 5),
 (2028, 12),
 (2029, 5),
 (2070, 8),
 (2098, 9)]

In [13]:
assert set(year_month_fact).issubset(set(year_month_table))

Значит мы верно прочитали все года и месяца

Заметим, что некоторые года и месяца выбиваются из рамок. Удалим эти выбросы

In [14]:
df = spark.sql("""
    select *
    from nyc.taxis
""")

In [15]:
filter_condition = col("year_month").isin([f"{year}-{month:02d}" for year, month in year_month_fact])

tmp_df = df \
    .withColumn("year_month", date_format(col("tpep_pickup_datetime"), "yyyy-MM")) \
    .filter(filter_condition)

In [16]:
tmp_df.registerTempTable('tmp')

spark.sql("""
   select *
   from tmp
""").show(5)

/opt/spark/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|year_month|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+
|       1| 2022-03-01 00:13:08|  2022-03-01 00:24:35|            1.0|          2.4|       1.0|                 N|          90|         209|           2|       10.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        13.8|                 2.5|        0.0|   2022-03|
|       1| 2022-03-01 00:47:52|  2022-03-01 01:00:08|            1.0|          2.2|       1.0|                 N|         148|         234|           2|       10.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|   2022-03|
|       2| 2022-03-01 00:02:46|  2022-03-01 00:46:43|            1.0|        19.78|       2.0|                 N|         132|         249|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       67.61|                 2.5|       1.25|   2022-03|
|       2| 2022-03-01 00:52:43|  2022-03-01 01:03:40|            2.0|         2.94|       1.0|                 N|         211|          66|           1|       11.0|  0.5|    0.5|      4.44|         0.0|                  0.3|       19.24|                 2.5|        0.0|   2022-03|
|       2| 2022-03-01 00:15:35|  2022-03-01 00:34:13|            1.0|         8.57|       1.0|                 N|         138|         197|           1|       25.0|  0.5|    0.5|      5.51|         0.0|                  0.3|       33.06|                 0.0|       1.25|   2022-03|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+----------+
only showing top 5 rows

In [17]:
tmp_df = tmp_df.drop("year_month")

In [18]:
tmp_df.registerTempTable('tmp')

In [19]:
%%sql 

select count(*)
from tmp

+----------+
| count(1) |
+----------+
| 38908423 |
+----------+

Возьму только миллион записей, чтобы ноутбук осилил

In [20]:
tmp_df_limit = tmp_df.limit(1_000_000_000)

tmp_df_limit.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-03-01 00:13:08|  2022-03-01 00:24:35|            1.0|          2.4|       1.0|                 N|          90|         209|           2|       10.0|  3.0|    0.5|       0.0|         0.0|                  0.3|        13.8|                 2.5|        0.0|
|       1| 2022-03-01 00:47:52|  2022-03-01 01:00:08|            1.0|          2.2|       1.0|                 N|         148|         234|           2|       10.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        14.3|                 2.5|        0.0|
|       2| 2022-03-01 00:02:46|  2022-03-01 00:46:43|            1.0|        19.78|       2.0|                 N|         132|         249|           1|       52.0|  0.0|    0.5|     11.06|         0.0|                  0.3|       67.61|                 2.5|       1.25|
|       2| 2022-03-01 00:52:43|  2022-03-01 01:03:40|            2.0|         2.94|       1.0|                 N|         211|          66|           1|       11.0|  0.5|    0.5|      4.44|         0.0|                  0.3|       19.24|                 2.5|        0.0|
|       2| 2022-03-01 00:15:35|  2022-03-01 00:34:13|            1.0|         8.57|       1.0|                 N|         138|         197|           1|       25.0|  0.5|    0.5|      5.51|         0.0|                  0.3|       33.06|                 0.0|       1.25|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

При попытке перезаписать таблицу используя sql replace, repartitioning ноутбук падает с ошибкой памяти. Поэтому удаляю старую таблицу и записываю новую. К сожалению, так теряются снэпшоты исходной таблицы

In [21]:
%%sql

DROP TABLE IF EXISTS nyc.taxis

++
||
++
++

In [22]:
tmp_df_limit.writeTo("nyc.taxis").create()

Проверка, что данные записались корректно

In [23]:
%%sql

select year(tpep_pickup_datetime) as year, month(tpep_pickup_datetime) as month
from nyc.taxis
group by year(tpep_pickup_datetime), month(tpep_pickup_datetime)
order by year, month

+------+-------+
| year | month |
+------+-------+
| 2021 |     4 |
| 2021 |     5 |
| 2021 |     6 |
| 2021 |     7 |
| 2021 |     8 |
| 2021 |     9 |
| 2021 |    10 |
| 2021 |    11 |
| 2021 |    12 |
| 2022 |     1 |
| 2022 |     2 |
| 2022 |     3 |
| 2022 |     4 |
+------+-------+

Данные перезаписались корректно

### Посмотрим таблицу снэпшотов

In [25]:
%%sql
    
SELECT snapshot_id, manifest_list
FROM nyc.taxis.snapshots

+---------------------+--------------------------------------------------------------------------------------------------------+
|         snapshot_id |                                                                                          manifest_list |
+---------------------+--------------------------------------------------------------------------------------------------------+
| 8867405477361775537 | s3://warehouse/nyc/taxis/metadata/snap-8867405477361775537-1-efe121d5-6281-4a5f-8ed0-08a716d1dade.avro |
+---------------------+--------------------------------------------------------------------------------------------------------+

Как и ожидалось, в таблице только один снэпшот, так как она была перезаписана

### Переименуем столбцы таблицы

In [26]:
%%sql

DESCRIBE nyc.taxis

+-----------------------+---------------+---------+
|              col_name |     data_type | comment |
+-----------------------+---------------+---------+
|              VendorID |        bigint |    None |
|  tpep_pickup_datetime | timestamp_ntz |    None |
| tpep_dropoff_datetime | timestamp_ntz |    None |
|       passenger_count |        double |    None |
|         trip_distance |        double |    None |
|            RatecodeID |        double |    None |
|    store_and_fwd_flag |        string |    None |
|          PULocationID |        bigint |    None |
|          DOLocationID |        bigint |    None |
|          payment_type |        bigint |    None |
|           fare_amount |        double |    None |
|                 extra |        double |    None |
|               mta_tax |        double |    None |
|            tip_amount |        double |    None |
|          tolls_amount |        double |    None |
| improvement_surcharge |        double |    None |
|          total_amount |        double |    None |
|  congestion_surcharge |        double |    None |
|           airport_fee |        double |    None |
+-----------------------+---------------+---------+

In [29]:
%%sql

ALTER TABLE nyc.taxis RENAME COLUMN tpep_pickup_datetime TO pickup_datetime

++
||
++
++

In [30]:
%%sql

ALTER TABLE nyc.taxis RENAME COLUMN tpep_dropoff_datetime TO dropoff_datetime

++
||
++
++

In [31]:
%%sql

DESCRIBE nyc.taxis

+-----------------------+---------------+---------+
|              col_name |     data_type | comment |
+-----------------------+---------------+---------+
|              VendorID |        bigint |    None |
|       pickup_datetime | timestamp_ntz |    None |
|      dropoff_datetime | timestamp_ntz |    None |
|       passenger_count |        double |    None |
|         trip_distance |        double |    None |
|            RatecodeID |        double |    None |
|    store_and_fwd_flag |        string |    None |
|          PULocationID |        bigint |    None |
|          DOLocationID |        bigint |    None |
|          payment_type |        bigint |    None |
|           fare_amount |        double |    None |
|                 extra |        double |    None |
|               mta_tax |        double |    None |
|            tip_amount |        double |    None |
|          tolls_amount |        double |    None |
| improvement_surcharge |        double |    None |
|          total_amount |        double |    None |
|  congestion_surcharge |        double |    None |
|           airport_fee |        double |    None |
+-----------------------+---------------+---------+

### Удалим столбцы и вставим новые данные, затем откатим изменения

In [32]:
%%sql

SELECT snapshot_id
FROM nyc.taxis.snapshots

+---------------------+
|         snapshot_id |
+---------------------+
| 8867405477361775537 |
+---------------------+

In [33]:
current_snapshot = 8867405477361775537

In [34]:
%%sql

ALTER TABLE nyc.taxis
DROP COLUMN airport_fee, congestion_surcharge, improvement_surcharge

++
||
++
++

In [35]:
%%sql

ALTER TABLE nyc.taxis
DROP COLUMN tolls_amount, mta_tax, extra, fare_amount, store_and_fwd_flag, RatecodeID

++
||
++
++

In [36]:
%%sql 

DESCRIBE nyc.taxis

+------------------+---------------+---------+
|         col_name |     data_type | comment |
+------------------+---------------+---------+
|         VendorID |        bigint |    None |
|  pickup_datetime | timestamp_ntz |    None |
| dropoff_datetime | timestamp_ntz |    None |
|  passenger_count |        double |    None |
|    trip_distance |        double |    None |
|     PULocationID |        bigint |    None |
|     DOLocationID |        bigint |    None |
|     payment_type |        bigint |    None |
|       tip_amount |        double |    None |
|     total_amount |        double |    None |
+------------------+---------------+---------+

In [37]:
%%sql 

SELECT *
FROM nyc.taxis

+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
| VendorID |     pickup_datetime |    dropoff_datetime | passenger_count | trip_distance | PULocationID | DOLocationID | payment_type | tip_amount | total_amount |
+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
|        1 | 2022-03-01 00:13:08 | 2022-03-01 00:24:35 |             1.0 |           2.4 |           90 |          209 |            2 |        0.0 |         13.8 |
|        1 | 2022-03-01 00:47:52 | 2022-03-01 01:00:08 |             1.0 |           2.2 |          148 |          234 |            2 |        0.0 |         14.3 |
|        2 | 2022-03-01 00:02:46 | 2022-03-01 00:46:43 |             1.0 |         19.78 |          132 |          249 |            1 |      11.06 |        67.61 |
|        2 | 2022-03-01 00:52:43 | 2022-03-01 01:03:40 |             2.0 |          2.94 |          211 |           66 |            1 |       4.44 |        19.24 |
|        2 | 2022-03-01 00:15:35 | 2022-03-01 00:34:13 |             1.0 |          8.57 |          138 |          197 |            1 |       5.51 |        33.06 |
|        1 | 2022-03-01 00:11:57 | 2022-03-01 00:53:05 |             2.0 |          14.0 |          132 |           33 |            1 |        9.2 |        55.25 |
|        2 | 2022-03-01 00:05:11 | 2022-03-01 00:08:22 |             1.0 |          0.61 |          166 |          151 |            1 |        1.0 |          6.8 |
|        2 | 2022-03-01 00:30:56 | 2022-03-01 00:46:21 |             1.0 |          2.83 |           74 |          238 |            1 |        3.7 |         18.0 |
|        2 | 2022-03-01 00:30:28 | 2022-03-01 00:30:36 |             1.0 |           0.1 |          145 |          145 |            3 |        0.0 |         -3.8 |
|        2 | 2022-03-01 00:30:28 | 2022-03-01 00:30:36 |             1.0 |           0.1 |          145 |          145 |            2 |        0.0 |          3.8 |
|        2 | 2022-03-01 00:34:25 | 2022-03-01 00:39:43 |             1.0 |           1.4 |          170 |           90 |            1 |        8.0 |        69.85 |
|        2 | 2022-03-01 00:35:11 | 2022-03-01 01:20:33 |             1.0 |         14.48 |          132 |           97 |            1 |       9.36 |        57.41 |
|        2 | 2022-03-01 00:59:02 | 2022-03-01 01:13:38 |             1.0 |          7.98 |          138 |          255 |            1 |        4.0 |        30.05 |
|        2 | 2022-03-01 00:16:00 | 2022-03-01 00:36:46 |             1.0 |          3.48 |          179 |          226 |            2 |        0.0 |         17.3 |
|        2 | 2022-03-01 00:57:18 | 2022-03-01 01:38:31 |             1.0 |          8.57 |          226 |           70 |            2 |        0.0 |         35.3 |
|        2 | 2022-03-01 00:01:50 | 2022-03-01 00:17:53 |             1.0 |          7.56 |          138 |          256 |            1 |        6.2 |        32.25 |
|        2 | 2022-03-01 01:03:05 | 2022-03-01 01:06:05 |             5.0 |          0.62 |           80 |          255 |            2 |        0.0 |          5.8 |
|        2 | 2022-03-01 00:28:14 | 2022-03-01 00:43:11 |             2.0 |          4.33 |          211 |          142 |            1 |       3.76 |        22.56 |
|        2 | 2022-03-01 00:35:49 | 2022-03-01 01:14:54 |             1.0 |         20.76 |          132 |          238 |            1 |      12.12 |        72.72 |
|        2 | 2022-03-01 00:22:31 | 2022-03-01 00:30:49 |             2.0 |          1.45 |          148 |          231 |            1 |       2.26 |        13.56 |
|        1 | 2022-03-01 00:01:51 | 2022-03-01 00:17:24 |             1.0 |           5.5 |          162 |          255 |            1 |        2.0 |         23.3 |
|        1 | 2022-03-01 00:32:22 | 2022-03-01 00:35:11 |             3.0 |           1.3 |          137 |          141 |            1 |        2.5 |         11.8 |
|        1 | 2022-03-01 00:13:10 | 2022-03-01 00:35:56 |             0.0 |          12.8 |          132 |           70 |            1 |        9.5 |        47.55 |
|        2 | 2022-03-01 00:10:51 | 2022-03-01 00:22:02 |             2.0 |          2.57 |           68 |          170 |            1 |        2.0 |         16.3 |
|        2 | 2022-03-01 00:41:52 | 2022-03-01 00:54:38 |             2.0 |          3.23 |          211 |           48 |            1 |       3.16 |        18.96 |
|        1 | 2022-03-01 00:12:27 | 2022-03-01 00:28:31 |             1.0 |           4.1 |          239 |          137 |            2 |        0.0 |         17.3 |
|        1 | 2022-03-01 00:54:32 | 2022-03-01 01:33:39 |             1.0 |           8.3 |          141 |          146 |            2 |        0.0 |         32.8 |
|        1 | 2022-03-01 00:15:10 | 2022-03-01 00:23:56 |             1.0 |           1.8 |           25 |           17 |            1 |       1.85 |        11.15 |
|        2 | 2022-03-01 00:35:59 | 2022-03-01 00:46:02 |             1.0 |          2.82 |          114 |          161 |            1 |       2.86 |        17.16 |
|        2 | 2022-03-01 00:52:58 | 2022-03-01 01:08:04 |             1.0 |          2.06 |          164 |          114 |            1 |       2.96 |        17.76 |
|        2 | 2022-03-01 00:26:14 | 2022-03-01 00:43:20 |             1.0 |          3.24 |          230 |           24 |            2 |        0.0 |         18.3 |
|        2 | 2022-03-01 00:45:59 | 2022-03-01 00:55:47 |             1.0 |          2.79 |          114 |          163 |            4 |        0.0 |        -14.3 |
|        2 | 2022-03-01 00:45:59 | 2022-03-01 00:55:47 |             1.0 |          2.79 |          114 |          230 |            2 |        0.0 |         14.3 |
|        2 | 2022-03-01 00:15:55 | 2022-03-01 00:27:49 |             1.0 |          2.26 |          107 |          229 |            1 |       2.14 |        16.44 |
|        2 | 2022-03-01 00:30:43 | 2022-03-01 00:52:34 |             4.0 |          4.35 |          229 |          209 |            2 |        0.0 |         20.8 |
|        2 | 2022-03-01 00:14:51 | 2022-03-01 00:21:58 |             1.0 |          1.34 |          113 |           45 |            1 |        3.0 |         13.8 |
|        2 | 2022-03-01 00:28:17 | 2022-03-01 00:45:50 |             1.0 |          5.88 |           79 |          112 |            1 |        2.0 |         24.3 |
|        1 | 2022-03-01 00:23:51 | 2022-03-01 00:38:51 |             2.0 |          12.2 |          138 |           40 |            1 |        5.0 |        41.05 |
|        2 | 2022-03-01 00:20:27 | 2022-03-01 00:24:13 |             1.0 |          1.08 |          140 |          236 |            1 |       1.86 |        11.16 |
|        2 | 2022-03-01 00:50:09 | 2022-03-01 00:58:48 |             1.0 |          1.93 |          237 |          143 |            2 |        0.0 |         12.3 |
|        1 | 2022-03-01 00:37:51 | 2022-03-01 01:11:38 |             1.0 |          18.8 |          132 |          234 |            1 |        8.0 |         71.1 |
|        1 | 2022-03-01 00:05:28 | 2022-03-01 00:30:30 |             1.0 |          17.3 |          132 |          162 |            1 |       12.6 |         75.7 |
|        1 | 2022-03-01 00:26:24 | 2022-03-01 00:39:52 |             1.0 |           3.9 |          142 |          152 |            2 |        0.0 |         17.3 |
|        1 | 2022-03-01 00:11:56 | 2022-03-01 00:17:46 |             0.0 |           1.2 |          138 |          129 |            2 |        0.0 |         8.05 |
|        2 | 2022-03-01 00:08:12 | 2022-03-01 00:37:54 |             2.0 |         12.64 |          132 |           49 |            1 |       9.89 |        49.44 |
|        2 | 2022-03-01 00:17:49 | 2022-03-01 00:21:19 |             1.0 |          1.39 |          233 |          224 |            1 |       1.96 |        11.76 |
|        2 | 2022-03-01 00:28:56 | 2022-03-01 00:36:06 |             1.0 |          2.69 |          233 |          262 |            1 |       3.33 |        16.63 |
|        2 | 2022-03-01 00:47:36 | 2022-03-01 01:04:55 |             1.0 |          5.09 |          141 |          223 |            4 |        0.0 |        -21.3 |
|        2 | 2022-03-01 00:47:36 | 2022-03-01 01:04:55 |             1.0 |          5.09 |          141 |          223 |            2 |        0.0 |         21.3 |
|        2 | 2022-03-01 00:43:01 | 2022-03-01 01:09:40 |             2.0 |         18.68 |          132 |          148 |            1 |      11.06 |        67.61 |
|        2 | 2022-03-01 00:13:05 | 2022-03-01 00:31:14 |             6.0 |          5.93 |          239 |          147 |            2 |        0.0 |         22.8 |
|        2 | 2022-03-01 00:46:56 | 2022-03-01 01:08:13 |             1.0 |          6.03 |          148 |          181 |            1 |       5.06 |        30.36 |
|        2 | 2022-03-01 00:16:07 | 2022-03-01 00:24:54 |             1.0 |          0.85 |          186 |          170 |            2 |        0.0 |         10.3 |
|        2 | 2022-03-01 00:12:40 | 2022-03-01 00:22:13 |             1.0 |          1.78 |          239 |          263 |            1 |       2.56 |        15.36 |
|        2 | 2022-03-01 00:17:39 | 2022-03-01 00:30:44 |             1.0 |          3.61 |          148 |          181 |            1 |        2.0 |         18.8 |
|        2 | 2022-03-01 00:19:28 | 2022-03-01 01:03:48 |             1.0 |         13.61 |          132 |           17 |            1 |      11.64 |        58.19 |
|        1 | 2022-03-01 00:01:39 | 2022-03-01 00:20:26 |             0.0 |          11.0 |          138 |           25 |            1 |        2.0 |        36.05 |
|        2 | 2022-03-01 00:49:20 | 2022-03-01 01:22:31 |             1.0 |         17.51 |          132 |           43 |            2 |        0.0 |        56.55 |
|        1 | 2022-03-01 00:10:15 | 2022-03-01 00:26:56 |             1.0 |           4.9 |          237 |           13 |            1 |       6.05 |        26.35 |
|        1 | 2022-03-01 00:51:16 | 2022-03-01 00:57:05 |             1.0 |           1.9 |          161 |          141 |            1 |        1.7 |         13.0 |
|        2 | 2022-03-01 00:19:07 | 2022-03-01 00:25:41 |             1.0 |          1.82 |          142 |          238 |            1 |       2.26 |        13.56 |
|        2 | 2022-03-01 00:40:55 | 2022-03-01 01:00:17 |             1.0 |         12.24 |          132 |          160 |            1 |       6.96 |        43.01 |
|        1 | 2022-03-01 00:31:19 | 2022-03-01 00:51:00 |             1.0 |           9.3 |          132 |           86 |            2 |        0.0 |        35.05 |
|        2 | 2022-03-01 00:18:47 | 2022-03-01 00:25:31 |             1.0 |          1.15 |          231 |           13 |            1 |      11.06 |        66.36 |
|        2 | 2022-03-01 00:18:40 | 2022-03-01 00:28:34 |             1.0 |          2.73 |          238 |           74 |            1 |       2.86 |        17.16 |
|        2 | 2022-03-01 00:05:51 | 2022-03-01 00:10:18 |             1.0 |          0.71 |          229 |          163 |            2 |        0.0 |          8.8 |
|        1 | 2022-03-01 00:26:42 | 2022-03-01 00:38:41 |             1.0 |           1.6 |          230 |          143 |            1 |       2.45 |        14.75 |
|        1 | 2022-03-01 00:53:25 | 2022-03-01 00:59:09 |             1.0 |           1.3 |          238 |          142 |            1 |        1.0 |         10.8 |
|        2 | 2022-03-01 00:58:54 | 2022-03-01 01:20:10 |             1.0 |          7.61 |          234 |          116 |            1 |        5.0 |         31.3 |
|        2 | 2022-03-01 00:06:25 | 2022-03-01 00:13:30 |             1.0 |          1.04 |          100 |          107 |            2 |        0.0 |         10.3 |
|        2 | 2022-03-01 00:02:40 | 2022-03-01 00:26:56 |             1.0 |          6.51 |          166 |            7 |            2 |        0.0 |        30.35 |
|        2 | 2022-02-28 23:32:40 | 2022-02-28 23:40:00 |             1.0 |          1.27 |           68 |          113 |            1 |       2.16 |        12.96 |
|        2 | 2022-02-28 23:42:19 | 2022-02-28 23:48:01 |             1.0 |          1.64 |          249 |          231 |            2 |        0.0 |         10.3 |
|        2 | 2022-02-28 23:57:05 | 2022-03-01 00:08:01 |             1.0 |           1.9 |          249 |          232 |            1 |       2.66 |        15.96 |
|        2 | 2022-03-01 00:12:46 | 2022-03-01 00:17:00 |             1.0 |          0.89 |          140 |          263 |            1 |        1.0 |          9.8 |
|        2 | 2022-03-01 00:57:25 | 2022-03-01 01:01:38 |             2.0 |           0.7 |          137 |          170 |            2 |        0.0 |         -8.8 |
|        2 | 2022-03-01 00:57:25 | 2022-03-01 01:01:38 |             2.0 |           0.7 |          137 |          170 |            2 |        0.0 |          8.8 |
|        2 | 2022-03-01 00:02:29 | 2022-03-01 00:18:06 |             1.0 |          4.69 |          114 |          238 |            1 |       3.96 |        23.76 |
|        2 | 2022-03-01 00:43:59 | 2022-03-01 00:57:29 |             1.0 |          3.68 |          170 |          226 |            2 |        0.0 |        23.35 |
|        1 | 2022-03-01 00:17:50 | 2022-03-01 00:30:57 |             1.0 |           2.2 |          230 |          249 |            1 |       3.05 |        18.35 |
|        1 | 2022-03-01 00:33:43 | 2022-03-01 00:43:27 |             2.0 |           2.1 |          249 |          232 |            2 |        0.0 |         12.8 |
|        2 | 2022-03-01 00:03:08 | 2022-03-01 00:08:17 |             1.0 |          2.04 |          237 |          170 |            1 |        2.0 |         13.3 |
|        2 | 2022-03-01 00:14:24 | 2022-03-01 00:24:36 |             2.0 |          1.74 |          230 |          107 |            1 |       2.56 |        15.36 |
|        2 | 2022-03-01 00:55:40 | 2022-03-01 01:16:54 |             3.0 |         10.54 |          132 |          196 |            1 |       6.46 |        40.01 |
|        1 | 2022-03-01 00:05:15 | 2022-03-01 00:19:22 |             1.0 |           3.6 |          233 |          239 |            2 |        0.0 |         17.3 |
|        1 | 2022-03-01 00:48:56 | 2022-03-01 01:04:42 |             3.0 |           4.1 |          148 |          229 |            1 |        1.0 |         19.3 |
|        1 | 2022-03-01 00:14:48 | 2022-03-01 00:30:23 |             2.0 |           7.8 |          138 |          256 |            1 |        5.2 |        31.25 |
|        1 | 2022-03-01 00:07:49 | 2022-03-01 00:30:48 |             1.0 |          16.6 |          132 |          233 |            1 |       12.6 |         75.7 |
|        2 | 2022-03-01 00:10:03 | 2022-03-01 00:15:13 |             1.0 |           1.5 |          141 |           75 |            1 |       2.06 |        12.36 |
|        2 | 2022-03-01 00:00:49 | 2022-03-01 00:05:46 |             2.0 |          1.51 |          141 |          162 |            2 |        0.0 |         10.3 |
|        2 | 2022-03-01 00:07:16 | 2022-03-01 00:17:59 |             2.0 |          3.13 |          162 |          231 |            1 |       4.44 |        19.24 |
|        2 | 2022-03-01 00:56:25 | 2022-03-01 01:20:33 |             2.0 |          7.24 |           79 |          152 |            1 |       5.36 |        32.16 |
|        2 | 2022-03-01 00:02:00 | 2022-03-01 00:18:26 |             2.0 |          4.07 |          114 |          239 |            2 |        0.0 |         18.8 |
|        2 | 2022-03-01 00:47:18 | 2022-03-01 01:05:13 |             1.0 |          4.61 |           48 |            7 |            1 |        2.0 |         23.3 |
|        2 | 2022-03-01 00:18:57 | 2022-03-01 00:50:15 |             1.0 |         18.57 |          132 |           75 |            1 |       12.5 |         73.1 |
|        2 | 2022-03-01 00:41:08 | 2022-03-01 00:55:10 |             1.0 |          2.42 |          107 |           50 |            1 |       3.06 |        18.36 |
|        2 | 2022-03-01 00:16:38 | 2022-03-01 00:42:42 |             1.0 |          8.94 |          138 |          238 |            4 |        0.0 |        -40.6 |
|        2 | 2022-03-01 00:16:38 | 2022-03-01 00:42:42 |             1.0 |          8.94 |          138 |          238 |            2 |        0.0 |         40.6 |
|        2 | 2022-03-01 00:15:16 | 2022-03-01 00:31:38 |             1.0 |          3.97 |          239 |           42 |            2 |        0.0 |         17.8 |
|        2 | 2022-03-01 00:52:50 | 2022-03-01 01:04:03 |             1.0 |          5.64 |           48 |          116 |            1 |       3.74 |        24.54 |
+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+

In [43]:
%%sql

INSERT INTO nyc.taxis
VALUES (1, timestamp('2999-01-01 00:00:00'), timestamp('3000-01-01 00:00:00'), 1, 1, 1, 1, 1, 0, 0);

++
||
++
++

Проверим, что данные вставились

In [44]:
%%sql

SELECT *
FROM nyc.taxis
WHERE year(pickup_datetime) == 2999

+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
| VendorID |     pickup_datetime |    dropoff_datetime | passenger_count | trip_distance | PULocationID | DOLocationID | payment_type | tip_amount | total_amount |
+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
|        1 | 2999-01-01 00:00:00 | 3000-01-01 00:00:00 |             1.0 |           1.0 |            1 |            1 |            1 |        0.0 |          0.0 |
|        1 | 2999-01-01 00:00:00 |                None |             1.0 |           1.0 |            1 |            1 |            1 |        0.0 |          0.0 |
|        1 | 2999-01-01 00:00:00 |                None |             1.0 |           1.0 |            1 |            1 |            1 |        0.0 |          0.0 |
+----------+---------------------+---------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+

Данные вставились корректно

In [47]:
%%sql

SELECT *
FROM nyc.taxis.snapshots

+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|               committed_at |         snapshot_id |           parent_id | operation |                                                                                          manifest_list |                                                                                                                                                                                                                                                                                                                                        summary |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 2024-11-19 13:07:51.509000 | 8867405477361775537 |                None |    append | s3://warehouse/nyc/taxis/metadata/snap-8867405477361775537-1-efe121d5-6281-4a5f-8ed0-08a716d1dade.avro | {'spark.app.id': 'local-1732021182220', 'changed-partition-count': '1', 'added-data-files': '2', 'total-equality-deletes': '0', 'added-records': '38908423', 'total-position-deletes': '0', 'added-files-size': '600144900', 'total-delete-files': '0', 'total-files-size': '600144900', 'total-records': '38908423', 'total-data-files': '2'} |
| 2024-11-19 13:26:48.341000 | 6185280295707655119 | 8867405477361775537 |    append | s3://warehouse/nyc/taxis/metadata/snap-6185280295707655119-1-3fd1d21b-c4c0-4a0b-8bc3-73832a5bd280.avro |             {'spark.app.id': 'local-1732021182220', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '2870', 'total-delete-files': '0', 'total-files-size': '600147770', 'total-records': '38908424', 'total-data-files': '3'} |
| 2024-11-19 13:28:22.704000 |   56325367639566605 | 6185280295707655119 |    append |   s3://warehouse/nyc/taxis/metadata/snap-56325367639566605-1-d1640faa-5d2a-43f9-b43e-1959c090a27c.avro |             {'spark.app.id': 'local-1732021182220', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '2870', 'total-delete-files': '0', 'total-files-size': '600150640', 'total-records': '38908425', 'total-data-files': '4'} |
| 2024-11-19 13:28:51.894000 | 1638052002034642056 |   56325367639566605 |    append | s3://warehouse/nyc/taxis/metadata/snap-1638052002034642056-1-1d622acb-665a-4209-b1f9-c7320138b0a3.avro |             {'spark.app.id': 'local-1732021182220', 'changed-partition-count': '1', 'added-data-files': '1', 'total-equality-deletes': '0', 'added-records': '1', 'total-position-deletes': '0', 'added-files-size': '2934', 'total-delete-files': '0', 'total-files-size': '600153574', 'total-records': '38908426', 'total-data-files': '5'} |
+----------------------------+---------------------+---------------------+-----------+--------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

Теперь у нас несколько снэпшотов

Посмотрим на таблицу `history`

In [48]:
%%sql

SELECT *
FROM nyc.taxis.history

+----------------------------+---------------------+---------------------+---------------------+
|            made_current_at |         snapshot_id |           parent_id | is_current_ancestor |
+----------------------------+---------------------+---------------------+---------------------+
| 2024-11-19 13:07:51.509000 | 8867405477361775537 |                None |                True |
| 2024-11-19 13:26:48.341000 | 6185280295707655119 | 8867405477361775537 |                True |
| 2024-11-19 13:28:22.704000 |   56325367639566605 | 6185280295707655119 |                True |
| 2024-11-19 13:28:51.894000 | 1638052002034642056 |   56325367639566605 |                True |
+----------------------------+---------------------+---------------------+---------------------+

Откатим изменения

In [49]:
spark.sql(f"CALL system.rollback_to_snapshot('nyc.taxis', {current_snapshot})")

DataFrame[previous_snapshot_id: bigint, current_snapshot_id: bigint]

Проверим

In [51]:
%%sql

SELECT *
FROM nyc.taxis
WHERE year(pickup_datetime) == 2999

+----------+-----------------+------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
| VendorID | pickup_datetime | dropoff_datetime | passenger_count | trip_distance | PULocationID | DOLocationID | payment_type | tip_amount | total_amount |
+----------+-----------------+------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+
+----------+-----------------+------------------+-----------------+---------------+--------------+--------------+--------------+------------+--------------+

### Таблицы `files`, `partitions`, `history`

In [52]:
%%sql

SELECT *
FROM nyc.taxis.files

+---------+----------------------------------------------------------------------------------------------+-------------+---------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+--------------------------------------+--------------+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| content |                                                                                    file_path | file_format | spec_id | record_count | file_size_in_bytes |                                                                                                                                                                                                                                            column_sizes |                                                                                                                                                                                                                                                      value_counts |                                                                                                                                          null_value_counts |                                                                  nan_value_counts |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  lower_bounds |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              upper_bounds | key_metadata |                        split_offsets | equality_ids | sort_order_id |                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           readable_metrics |
+---------+----------------------------------------------------------------------------------------------+-------------+---------+--------------+--------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------+--------------------------------------+--------------+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|       0 | s3://warehouse/nyc/taxis/data/00000-171-24e86526-5b86-4e6e-94a5-568aebe6463d-0-00001.parquet |     PARQUET |       0 |     34839000 |          537836059 | {1: 4477105, 2: 124921006, 3: 128238855, 4: 7142554, 5: 50313194, 6: 2346836, 7: 1072171, 8: 30900499, 9: 34818710, 10: 5835024, 11: 38041573, 12: 8621736, 13: 1106014, 14: 37553838, 15: 4321021, 16: 609971, 17: 50377877, 18: 3336738, 19: 2653707} | {1: 34839000, 2: 34839000, 3: 34839000, 4: 34839000, 5: 34839000, 6: 34839000, 7: 34839000, 8: 34839000, 9: 34839000, 10: 34839000, 11: 34839000, 12: 34839000, 13: 34839000, 14: 34839000, 15: 34839000, 16: 34839000, 17: 34839000, 18: 34839000, 19: 34839000} | {1: 0, 2: 0, 3: 0, 4: 1293232, 5: 0, 6: 1293232, 7: 1293232, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 1293232, 19: 1293280} | {16: 0, 17: 0, 18: 0, 19: 0, 4: 0, 5: 0, 6: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0} |       {1: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'@\x03\x06\x844\xc1\x05\x00'), 3: bytearray(b'@U\xc2\x934\xc1\x05\x00'), 4: bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00'), 5: bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00'), 6: bytearray(b'\x00\x00\x00\x00\x00\x00\xf0?'), 7: bytearray(b'N'), 8: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 9: bytearray(b'\x01\x00\x00\x00\x00\x00\x00\x00'), 10: bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00'), 11: bytearray(b'\x00\x00\x00\x00\x00\x08\xa4\xc0'), 12: bytearray(b'\x00\x00\x00\x00\x00\x00\x16\xc0'), 13: bytearray(b'\x9a\x99\x99\x99\x99\x99\xe1\xbf'), 14: bytearray(b'\x00\x00\x00\x00\x00\xa0y\xc0'), 15: bytearray(b'\x00\x00\x00\x00\x000V\xc0'), 16: bytearray(b'333333\xd3\xbf'), 17: bytearray(b'\x9a\x99\x99\x99\x99\x0f\xa4\xc0'), 18: bytearray(b'\x00\x00\x00\x00\x00\x00\x04\xc0'), 19: bytearray(b'\x00\x00\x00\x00\x00\x00\xf4\xbf')} | {1: bytearray(b'\x06\x00\x00\x00\x00\x00\x00\x00'), 2: bytearray(b'\xc0\x1d\xdf\xf4\xe7\xdd\x05\x00'), 3: bytearray(b'\x00\xa6\x9c\xe2\xfb\xdd\x05\x00'), 4: bytearray(b'\x00\x00\x00\x00\x00\x00\\@'), 5: bytearray(b'\n\xd7\xa3p\xf5u\x15A'), 6: bytearray(b'\x00\x00\x00\x00\x00\xc0X@'), 7: bytearray(b'Y'), 8: bytearray(b'\t\x01\x00\x00\x00\x00\x00\x00'), 9: bytearray(b'\t\x01\x00\x00\x00\x00\x00\x00'), 10: bytearray(b'\x05\x00\x00\x00\x00\x00\x00\x00'), 11: bytearray(b'\x14\xaeG\xe1\xd6\xf8(A'), 12: bytearray(b'\xa4p=\n\xd7\x83V@'), 13: bytearray(b'ffffffC@'), 14: bytearray(b'R\xb8\x1e\x85\xeb?\x8f@'), 15: bytearray(b'fffff\xe4\x8d@'), 16: bytearray(b'333333\xd3?'), 17: bytearray(b'\xaeG\xe1z\xdd\xf8(A'), 18: bytearray(b'\x00\x00\x00\x00\x00\x00\x06@'), 19: bytearray(b'\x00\x00\x00\x00\x00\x00\xf4?')} |         None | [4, 135022197, 270113232, 405249937] |         None |             0 | Row(DOLocationID=Row(column_size=34818710, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=265), PULocationID=Row(column_size=30900499, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=265), VendorID=Row(column_size=4477105, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=1, upper_bound=6), dropoff_datetime=Row(column_size=128238855, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 4, 30, 18, 14, 5), upper_bound=datetime.datetime(2022, 5, 1, 23, 46, 32)), passenger_count=Row(column_size=7142554, value_count=34839000, null_value_count=1293232, nan_value_count=0, lower_bound=0.0, upper_bound=112.0), payment_type=Row(column_size=5835024, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=0, upper_bound=5), pickup_datetime=Row(column_size=124921006, value_count=34839000, null_value_count=0, nan_value_count=None, lower_bound=datetime.datetime(2021, 4, 30, 18, 9, 41), upper_bound=datetime.datetime(2022, 4, 30, 23, 59, 59)), tip_amount=Row(column_size=37553838, value_count=34839000, null_value_count=0, nan_value_count=0, lower_bound=-410.0, upper_bound=999.99), total_amount=Row(column_size=50377877, value_count=34839000, null_value_count=0, nan_value_count=0, lower_bound=-2567.8, upper_bound=818286.74), trip_distance=Row(column_size=50313194, value_count=34839000, null_value_count=0, nan_value_count=0, lower_bound=0.0, upper_bound=351613.36)) |

In [53]:
%%sql

SELECT *
FROM nyc.taxis.partitions

+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
| record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|     38908423 |          2 |                     600144900 |                            0 |                          0 |                            0 |                          0 | 2024-11-19 13:07:51.509000 |      8867405477361775537 |
+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

In [54]:
%%sql

SELECT *
FROM nyc.taxis.history

+----------------------------+---------------------+---------------------+---------------------+
|            made_current_at |         snapshot_id |           parent_id | is_current_ancestor |
+----------------------------+---------------------+---------------------+---------------------+
| 2024-11-19 13:07:51.509000 | 8867405477361775537 |                None |                True |
| 2024-11-19 13:26:48.341000 | 6185280295707655119 | 8867405477361775537 |               False |
| 2024-11-19 13:28:22.704000 |   56325367639566605 | 6185280295707655119 |               False |
| 2024-11-19 13:28:51.894000 | 1638052002034642056 |   56325367639566605 |               False |
| 2024-11-19 13:38:45.911000 | 8867405477361775537 |                None |                True |
+----------------------------+---------------------+---------------------+---------------------+

В таблице `history` отразилось, что мы вернулись к предыдущему снэпшоту

### Изменим партицию

In [59]:
%%sql

ALTER TABLE nyc.taxis ADD PARTITION FIELD year(pickup_datetime)

++
||
++
++

In [61]:
%%sql

ALTER TABLE nyc.taxis ADD PARTITION FIELD month(pickup_datetime)

++
||
++
++

In [63]:
%%sql

CALL system.rewrite_data_files('nyc.taxis')

+----------------------------+------------------------+-----------------------+-------------------------+
| rewritten_data_files_count | added_data_files_count | rewritten_bytes_count | failed_data_files_count |
+----------------------------+------------------------+-----------------------+-------------------------+
|                          0 |                      0 |                     0 |                       0 |
+----------------------------+------------------------+-----------------------+-------------------------+

In [66]:
%%sql 

SELECT *
FROM nyc.taxis.partitions

+------------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
|                                                  partition | spec_id | record_count | file_count | total_data_file_size_in_bytes | position_delete_record_count | position_delete_file_count | equality_delete_record_count | equality_delete_file_count |            last_updated_at | last_updated_snapshot_id |
+------------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+
| Row(pickup_datetime_year=None, pickup_datetime_month=None) |       0 |     38908423 |          2 |                     600144900 |                            0 |                          0 |                            0 |                          0 | 2024-11-19 13:07:51.509000 |      8867405477361775537 |
+------------------------------------------------------------+---------+--------------+------------+-------------------------------+------------------------------+----------------------------+------------------------------+----------------------------+----------------------------+--------------------------+

### Аудит прямым способом

In [67]:
import uuid
ia_session_id = uuid.uuid4().hex

In [68]:
%%sql

ALTER TABLE nyc.taxis
SET TBLPROPERTIES (
    'write.wap.enabled'='true'
)

++
||
++
++

In [69]:
spark.conf.set('spark.wap.id', ia_session_id)

In [71]:
%%sql

DELETE FROM nyc.taxis
WHERE payment_type == 1

++
||
++
++

In [72]:
query = f"""
SELECT snapshot_id
FROM nyc.taxis.snapshots
WHERE summary['wap.id'] = '{ia_session_id}'
"""

ia_session_snapshot = spark.sql(query).head().snapshot_id

In [73]:
spark.read \
    .option("snapshot-id", ia_session_snapshot) \
    .format("iceberg") \
    .load("nyc.taxis") \
    .groupBy("payment_type") \
    .count() \
    .show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           0|1564106|
|           5|      7|
|           3| 180916|
|           2|8068370|
|           4| 156542|
+------------+-------+

In [74]:
publish_query = f"CALL system.cherrypick_snapshot('nyc.taxis', {ia_session_snapshot})"

%sql $publish_query

+---------------------+---------------------+
|  source_snapshot_id | current_snapshot_id |
+---------------------+---------------------+
| 7508518728360165294 | 7508518728360165294 |
+---------------------+---------------------+

In [75]:
%%sql

SELECT payment_type
FROM nyc.taxis
WHERE payment_type == 1

+--------------+
| payment_type |
+--------------+
+--------------+

### Аудит с использованием веток

In [77]:
%%sql

ALTER TABLE nyc.taxis
SET TBLPROPERTIES (
    'write.wap.enabled'='true'
)

++
||
++
++

In [83]:
%%sql

ALTER TABLE nyc.taxis
CREATE BRANCH new_branch

IllegalArgumentException: Ref new_branch already exists

In [84]:
spark.conf.set('spark.wap.branch', 'new_branch')

In [86]:
spark.conf.unset('spark.wap.id')

In [87]:
%%sql

DELETE FROM nyc.taxis
WHERE payment_type == 0

++
||
++
++

In [93]:
%%sql

SELECT DISTINCT payment_type
FROM nyc.taxis

+--------------+
| payment_type |
+--------------+
|            3 |
|            2 |
|            4 |
|            5 |
+--------------+

Посмотрим на ветку main

In [91]:
%%sql

SELECT DISTINCT payment_type
FROM nyc.taxis VERSION AS OF 'main'

+--------------+
| payment_type |
+--------------+
|            0 |
|            5 |
|            3 |
|            2 |
|            4 |
+--------------+

In [94]:
query = f"""
SELECT snapshot_id
FROM nyc.taxis.refs
WHERE name = 'new_branch'
"""

wap_snapshot_id = spark.sql(query).head().snapshot_id

In [95]:
publish_query = f"CALL system.cherrypick_snapshot('nyc.taxis', {wap_snapshot_id})"

%sql $publish_query

+---------------------+---------------------+
|  source_snapshot_id | current_snapshot_id |
+---------------------+---------------------+
| 8206386991873546081 | 8206386991873546081 |
+---------------------+---------------------+

In [96]:
%%sql

SELECT DISTINCT payment_type
FROM nyc.taxis VERSION AS OF 'main'

+--------------+
| payment_type |
+--------------+
|            3 |
|            2 |
|            4 |
|            5 |
+--------------+

In [98]:
%%sql

ALTER TABLE nyc.taxis
DROP BRANCH new_branch

++
||
++
++

In [99]:
%%sql

SELECT *
FROM nyc.taxis.refs

+------+--------+---------------------+-------------------------+-----------------------+------------------------+
| name |   type |         snapshot_id | max_reference_age_in_ms | min_snapshots_to_keep | max_snapshot_age_in_ms |
+------+--------+---------------------+-------------------------+-----------------------+------------------------+
| main | BRANCH | 8206386991873546081 |                    None |                  None |                   None |
+------+--------+---------------------+-------------------------+-----------------------+------------------------+